In [7]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [9]:
import pandas as pd

file_path = '/content/sample_data/train.csv'
df1 = pd.read_csv(file_path)

In [10]:
df1.info()
#df1.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

a.Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [11]:
#droping null values from dataset
df11 = df1.dropna()

#converting dataframe to csv file
df11.to_csv('clean_data1.csv', index=False)
#checking any values in data
print(df11.isnull().sum())
#df11.head(20)

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

Ans:each car has a different companty and model we can't simply replace null values with  mean or median or mode values for specific coloumn because it comprimise the results of analysis.

b.Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [12]:
# Removing units from 'Mileage', 'Engine', 'Power' varaibles
df11['Mileage'] = df11['Mileage'].str.extract('(\d+)').astype(float)
df11['Engine'] = df11['Engine'].str.extract('(\d+)').astype(float)
df11['Power'] = df11['Power'].str.extract('(\d+)').astype(float)

# Removing units from 'New_Price' varaible and converting to numerical
df11['New_Price'] = df11['New_Price'].str.extract('(\d+)').astype(float)


# checking any missing values are there in data
missing_values = df11.isnull().sum()
print(missing_values)

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

<ipython-input-12-abf122308bef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['Mileage'] = df11['Mileage'].str.extract('(\d+)').astype(float)
<ipython-input-12-abf122308bef>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['Engine'] = df11['Engine'].str.extract('(\d+)').astype(float)
<ipython-input-12-abf122308bef>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['Power'] = df11['Power'].str.extract('(\d+)').astype(float)
<ipython-input-12-abf122308bef>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['New_Price'] = df11['New_Price'].str.extract('(\d+)').astype(float)

In [13]:
df11.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,88.0,5.0,8.0,4.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.0,2755.0,171.0,8.0,21.0,17.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.0,1462.0,103.0,5.0,10.0,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.0,2477.0,175.0,7.0,32.0,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.0,1995.0,190.0,5.0,47.0,18.55

c. Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [14]:
#changing categorical variables into numerical one hot encoded value
df = pd.get_dummies(df11, columns=['Fuel_Type', 'Transmission'])

d.Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [15]:
from datetime import datetime



# Calculating current year
current_year = datetime.now().year

#caluculating current age of the car
df11['Current_Age'] = current_year - df11['Year']


df11.head(5)

<ipython-input-15-a70e38f58a09>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['Current_Age'] = current_year - df11['Year']

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,88.0,5.0,8.0,4.50,13
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.0,2755.0,171.0,8.0,21.0,17.50,8
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.0,1462.0,103.0,5.0,10.0,9.95,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.0,2477.0,175.0,7.0,32.0,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.0,1995.0,190.0,5.0,47.0,18.55,10

e.Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [16]:
#select operation
selected_columns = df11[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Seats', 'Price']]
#print("selected columns:",selected_columns)
selected_columns.head(5)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,8.0,17.50
8,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,5.0,9.95
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,7.0,15.00
18,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,5.0,18.55

In [17]:
#filter operation
filtered_data = df11[df11['Price'] > 10]
filtered_data.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.0,2755.0,171.0,8.0,21.0,17.50,8
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.0,2477.0,175.0,7.0,32.0,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.0,1995.0,190.0,5.0,47.0,18.55,10
45,47,Toyota Innova Crysta 2.7 GX MT,Bangalore,2012,70704,Petrol,Manual,First,11.0,2694.0,163.0,7.0,18.0,10.95,12
58,60,Toyota Innova Crysta 2.4 GX MT 8S,Mumbai,2017,22000,Diesel,Manual,First,13.0,2393.0,147.0,8.0,19.0,16.50,7

In [18]:
#rename operation
renamed_df = df11.rename(columns={'Fuel_Type': 'FuelType', 'Transmission': 'TransType'})
renamed_df.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,FuelType,TransType,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,88.0,5.0,8.0,4.50,13
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.0,2755.0,171.0,8.0,21.0,17.50,8
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.0,1462.0,103.0,5.0,10.0,9.95,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.0,2477.0,175.0,7.0,32.0,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.0,1995.0,190.0,5.0,47.0,18.55,10

In [19]:
#mutate operation
df11['Age'] = 2024 - df11['Year']
df11.head(5)

<ipython-input-19-bacdebb3e0e8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['Age'] = 2024 - df11['Year']

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age,Age
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,88.0,5.0,8.0,4.50,13,13
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.0,2755.0,171.0,8.0,21.0,17.50,8,8
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.0,1462.0,103.0,5.0,10.0,9.95,6,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.0,2477.0,175.0,7.0,32.0,15.00,10,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.0,1995.0,190.0,5.0,47.0,18.55,10,10

In [20]:
#arrange operation
#sorting the data
sorted_df = df11.sort_values(by='Price', ascending=False)
sorted_df.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age,Age
3952,4079,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,Diesel,Automatic,First,13.0,2993.0,255.0,5.0,2.0,160.00,7,7
1457,1505,Land Rover Range Rover Sport SE,Kochi,2019,26013,Diesel,Automatic,First,12.0,2993.0,255.0,5.0,1.0,97.07,5,5
2035,2095,Mercedes-Benz SLC 43 AMG,Coimbatore,2019,2526,Petrol,Automatic,First,19.0,2996.0,362.0,2.0,1.0,83.96,5,5
1830,1885,Mercedes-Benz GLS 350d Grand Edition,Delhi,2018,6000,Diesel,Automatic,First,11.0,2987.0,258.0,7.0,1.0,79.00,6,6
2251,2319,Mercedes-Benz E-Class E 350 d,Coimbatore,2019,9312,Diesel,Automatic,First,18.0,2987.0,258.0,5.0,92.0,78.80,5,5

In [21]:
#summarize by group
summary_data = df11.groupby('Location')['Price'].mean().reset_index()
summary_data.head(5)

     Location      Price
0   Ahmedabad  12.622857
1   Bangalore  14.942813
2     Chennai   9.198542
3  Coimbatore  17.040370
4       Delhi  13.020962